html {
  font-size: 100px;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  overflow-scrolling: touch;
  padding-top: constant(safe-area-inset-top);
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
}

#J-main-swiper {
  height: 100%;
  overflow: hidden;
}

.m-swiper-index-loop {
  width: 100%;
  height: 330px;

  .swiper-slide {
    height: 660px;
  }

  .m-banner {
    width: 100%;
  }
}

.m-index-0 {
  background-color: #131313;
  overflow: hidden;

  .m-index-text {
    position: relative;
    height: calc( 100% - 330px );
    overflow: hidden;
  }

  .m-page1-text1 {
    display: block;
    width: 275px;
    height: 65px;
    margin: 20px auto 0;
  }

  .m-page1-text2 {
    display: block;
    width: 317px;
    height: 49px;
    margin: 15px auto 0;
  }

  .m-page1-btn-1 {
    display: block;
    & > img {
      display: block;
      width: 220px;
      height: 42px;
      margin: 15px auto 0;
    }
  }
}

.m-arrow {
  display: block;
  width: 43px;
  height: 16px;
  background: url('/src/images/arrow.png') no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -8px);
  animation: arrow 1s infinite ease;
}

.m-index-1-bg-1 {
  display: block;
  width: 125px;
  height: 13px;
  background: url('/src/images/page-1-text-3.png') no-repeat;
  background-size: contain;
  margin: 15px auto 0;
}

.m-page-2-bg-1 {
  display: block;
  width: 100%;
  height: 488px;
}

.m-page-2-text-1 {
  display: block;
  width: 276px;
  height: 72px;
  background: url('/src/images/page-2-text-1.png') no-repeat;
  background-size: contain;
  margin: 20px auto 0;
}

.m-index-1 {
  background-color: #131313;
  overflow: hidden;
}

.m-video-inline {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: unset;
}

.m-index-2 {
  background-color: #131313;
  overflow: hidden;
}

.m-page-3-text-1 {
  display: block;
  width: 236px;
  height: 29px;
  background: url('/src/images/page-3-text-1.png') no-repeat;
  background-size: contain;
  margin: 10px auto 0;
}

.m-page-3-bg-1 {
  display: block;
  width: 203px;
  height: 184px;
  margin: 10px auto 0;
}

.m-page-3-text-2 {
  display: block;
  width: 240px;
  height: 107px;
  background: url('/src/images/page-3-text-2.png') no-repeat;
  background-size: contain;
  margin: 10px auto 0;
}

.m-page-4-bg-1 {
  display: block;
  width: 100%;
  height: 330px;
}

.m-index-3 {
  background-color: #131313;
}

.m-page-4-text-1 {
  display: block;
  width: 320px;
  height: 440px;
  background: url('/src/images/page-4-text-1.png') no-repeat;
  background-size: contain;
  margin: 10px auto 0;
}

.m-page-5-bg-1 {
  display: block;
  width: 100%;
  height: 445px;
}

.m-index-4 {
  background-color: #131313;
}

.m-page-5-text-1 {
  display: block;
  width: 130px;
  height: 24px;
  background: url('/src/images/page-5-text-1.png') no-repeat;
  background-size: contain;
  margin: 20px auto 20px;
}

.m-page-5-btn-1 {
  display: block;
  width: 190px;
  height: 44px;
  background: url('/src/images/page-5-btn-1.png') no-repeat;
  background-size: contain;
  margin: 20px auto 0;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -30px;
}

.swiper-pagination-bullet-active {
  background: #f2071c;
}

@media only screen and (device-width: 320px) and (min-height: 454px) {
  .m-swiper-index-loop {
    height: 240px;
  }

  .m-index-0 {
    .m-page1-text1 {
      width: 210px;
      height: auto;
      margin-top: 10px;
    }

    .m-page1-text2 {
      width: 260px;
      height: auto;
    }

    .m-page1-btn-1 {
      & > img {
        width: 180px;
        height: auto;
        margin-top: 10px;
      }
    }

    .m-index-text {
      height: calc(100% - 240px);
    }
  }

  .m-index-2 {
    .m-video-inline {
      height: 210px;
    }

    .m-page-3-text-1 {
      width: 200px;
      height: 20px;
    }

    .m-page-3-bg-1 {
      width: 140px;
      height: auto;
    }

    .m-page-3-text-2 {
      width: 200px;
      height: 80px;
    }
  }

  .m-index-3 {
    .m-page-4-bg-1 {
      height: 230px;
    }
    
    .m-page-4-text-1 {
      width: 240px;
      height: 280px;
    }
  }

  .m-index-4 {
    .m-page-5-text-1 {
      width: 100px;
      height: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .m-page-5-bg-1 {
      height: 360px;
      max-width: 100%;
    }

    .m-page-5-btn-1 {
      margin-top: 10px;
      width: 160px;
    }
  }
}

@media only screen and (device-width: 375px) and (min-height: 553px) {
  .m-swiper-index-loop {
    height: 310px;
  }

  .m-index-0 {
    .m-index-text {
      height: calc(100% - 310px);
    }

    .m-page1-text1 {
      margin-top: 15px;
    }

    .m-page1-btn-1 {
      & > img {
        width: 200px;
        height: auto;
      }
    }
  }

  .m-index-2 {
    .m-page-3-bg-1 {
      width: 180px;
      height: auto;
    }
  }

  .m-index-3 {
    .m-page-4-bg-1 {
      height: 300px;
    }

    .m-page-4-text-1 {
      height: 253px;
      width: 270px;
    }
  }

  .m-index-4 {
    .m-page-5-text-1 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .m-page-5-bg-1 {
      height: 420px;
    }
  }
}

@media only screen and (width: 375px) and (device-height: 812px) {
  .m-arrow {
    bottom: 30px;
  }
  .m-index-0 {
    .m-page1-text1 {
      margin-top: 30px;
    }
    .m-page1-text2 {
      margin-top: 30px;
    }
    .m-page1-btn-1 {
      & > img {
        margin-top: 30px;
      }
    }
  }
  .m-index-1 {
    .m-page-2-text-1 {
      margin-top: 40px;
    }
  }
  .m-index-2 {
    .m-page-3-text-1, .m-page-3-bg-1, .m-page-3-text-2 {
      margin-top: 30px;
    }
  }
  .m-index-3 {
    .m-page-4-text-1 {
      margin-top: 30px;
    }
  }
}

@keyframes arrow {
  0% {
    transform: translate(-50%, 0px);
  }
  50% {
    transform: translate(-50%, -10px);
  }
  100% {
    transform: translate(-50%, -0px);
  }
}